@model IEnumerable<Domain.referencecompetence>

@{
    ViewBag.Title = "Show";

    Layout = "~/Views/Shared/_test.cshtml";
}

<h2>Show</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.competence.description_c)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.U_FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description_c)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.niveauAcquis)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.competence.description_c)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.U_FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description_c)
        </td>
        <td>
            @if (item.niveauAcquis != item.competence.niveau / 2)
            {
                if (item.niveauAcquis < (item.competence.niveau / 2))
                {
                    @Html.DisplayName("Faible")
                }
                else
                {
                    @Html.DisplayName("Moyen")
                }
            }
            else
            {
                @Html.DisplayName(" Excellent (Réference)")
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_cf }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_cf }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_cf })
        </td>
    </tr>
}

</table>
